---
layout: default
---
<div class="post">
<h1>{{ page.title }}</h1>
<p>{{ page.description }}</p>
<ul class="post-list">
{% for post in site.tags[page.tag] %}
  <li>
    <article class="post-card">
      <div class="post-card-heading">
        <h2><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h2>
        <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%d %b %Y" }}</time>
      </div>
      <div class="post-tags" aria-label="Topics">
        {% for tag in post.tags %}{% unless tag == "blog" %}<a href="/{{ tag }}.html" class="post-tag">{{ tag }}</a>{% endunless %}{% endfor %}
      </div>
      <p>{{ post.description }}</p>
    </article>
  </li>
{% endfor %}
</ul>
</div>
<hr>
